.footer {
  max-width: 880px;
  margin: auto;
  background-color: black;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: rgba(84, 84, 84, 1);
  line-height: 21px;
  font-size: 18px;
  margin: 0;
  padding-top: 72px;
  padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 40px);
  }
}
